[Unit]
Description=enable usb emmc storage
ConditionPathExistsGlob=/sys/class/udc/*

[Service]
Type=oneshot
ExecStart=/bin/bash -c '/usr/sbin/usb_emmc_storage.sh'

[Install]
WantedBy=multi-user.target
