[Unit]
Description=Enable USB TTY gadget and start getty on ttyGS0
After=systemd-udevd.service
Wants=serial-getty@ttyGS0.service
ConditionPathExistsGlob=/sys/class/udc/*

[Service]
Type=oneshot
RemainAfterExit=yes
TimeoutStartSec=30
ExecStart=/bin/bash -c '/usr/sbin/usb_tty.sh'

[Install]
WantedBy=multi-user.target
