[Unit]
Description=enable usb network
After=systemd-udevd.service
ConditionPathExistsGlob=/sys/class/udc/*

[Service]
Type=oneshot
TimeoutStartSec=30
ExecStart=/bin/bash -c '/usr/sbin/usb_network_rndis.sh'

[Install]
WantedBy=multi-user.target
