[Unit]
Description=GPIO Toggle Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/sbin/gpio_toggle.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
